/*******************
WORK LIST
********************/
#work {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;

    width: 1100px;
    margin: auto;
    
    margin-bottom: 50px;
}

.work-container{
    width: 300px;
    height: max-content;
    padding: 16px;
    padding-bottom: 50px;
    text-decoration: none;

    background-color: white;
    border: 2px solid black;
    border-radius: 10px;

    filter: drop-shadow(0px 0px  0px white);
}


.work-thumbnail{
    width: 250px;
    height: 250px;
    margin: auto;

    border: 2px solid black;
    border-radius: 10px;

    margin: 20px;
}

.work-img{
    width: 100%;
    height: 100%;    
    border-radius: 10px;
}

.work-tags {
    display: flex;
}

.tag-badge {
    font-style: normal;
    color: black;
    padding-left: 8px;
    padding-right: 8px;

    border: 2px solid black;
    border-radius: 99999px;

    margin-right: 10px;
}

#School {background-color: #FF85BF;}
#Fullstack {background-color: #ce85ff;}
#Research {background-color: #fffd85;}
#Archive {background-color: #85e3ff;}
#Personal {background-color: #ffac85;}
#Misc {background-color: #99ff85;}
#Arduino {background-color: #8591ff;}
#Machine-Learning {background-color: #85beff;}
#React {background-color: #ff85e5;}
#Startup {background-color: #ff858b;}




.work-info{
    position: relative;
    min-height: 150px;
    max-height: 300px;
}
.work-title{
    position: relative;
    font-weight: bold;
    font-size: 24px;
}

.work-location{
    font-style: italic;
    color: gray;
}

.work-title:hover{
    text-decoration: underline;
}
.work-tags{
    position: absolute;
    /* bottom: 0px; */
    font-style: italic;
}
/*******************
NAV BAR
********************/
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}

.nav-link {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100px;
    padding: 10px;
    
    text-decoration: none;
    border-radius: 100px;
}


.nav-link:hover {
    text-decoration: underline;
}

/*******************
INDIVIDUAL PROJECT PAGES
********************/
.project-container{
    width: 600px;
    margin-left: 30px;
    margin-right: 30px;
}
.project-title{
    stroke: 1.6px;
    padding-bottom: 20px;
}
.project-img{
    width: 600px;
}

/*******************
HOME PAGE / GENERAL
********************/
.socials-container{
    width: 480px;
    height: 400px;
}
.socials-graph{
    width: 480px;
    height: 440px;
    overflow: hidden;
    border: none;
    position: relative;
    left: -80px;
    top: -40px;
}

a {
    color: black;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height:150%;
    margin:0;

    background: linear-gradient(180deg, #92B0FF 0%, #7593FF 40.63%, #B9DDFF 79.69%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
        
#images{
    background-color:black;
    box-sizing:border-box;
}

h2 {
    font-size: 72px;
    line-height: 80px;
    padding: 0px;
    margin: auto;
}

#header-flex {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    opacity: 1;

    width: 840px;
    margin: auto;
}

#header-container{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 40px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: white;
}

#header-me {
    width: 300px;
    padding-top: 34px;
}

#me-img {
    width: 100%;
    border: 2px solid black;
    border-radius: 40px 150px;
}

#intro{
    width: 800px;
    margin: auto;
    font-size: 18px;
    padding-top: 10px;
}

span{
    display: table;
    margin: auto;
}

#images img{

    width:100%;
    margin-bottom:50px;
}

#photo{
    background-image:url('images/mecyber.jpg');
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:100vh;
}
#text {
    padding:40px;
    box-sizing:border-box;
    margin: auto;
}

#container {
    position:relative; 
    align-items:stretch;
    width:100%;
    display: flex;
    flex-flow: row wrap;

    height: 100%;
}

#footer {
    width: 100%;
    color: white;
}
#footer-text{
    margin: auto;
    color: white;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
