body {
  background-color: DarkGreen;
  font-family: Times, serif;
}

h1 {
  color: FireBrick;
  font-size:30 px;
  font-weight: bold;
}

p {
  color:white;
  font-size:12 px;
  font-weight:normal;
  font-align: left;
}
