body {
  background-color: Green;
  font-family: Times, serif;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=8306);
}

h1 {
  color: white;
  text-shadow: 2px 2px 2px #C70202;
  font-family: times, serif;
  font-size:30 px;
  font-weight: bold;
}

h2 {
  color: FireBrick;
  font-family: times, serif;
  font-size:20 px;
  font-weight: normal;
}

p {
  color:white;
  font-size:12 px;
  font-weight:normal;
  font-align: left;
}
