html {
  cursor: url('91162.png') default;
  cursor: url('91150.png') pointer, auto;
}

body {
  background-color: DarkGreen;
  font-family: Times, serif;
}

h1 {
  color: white;
  text-shadow: 3px 3px 3px FireBrick;
  font-family: times, serif;
  font-size:50px;
  font-weight: bold;
  padding: 25px;
  margin:100px;
}

h2 {
  color: White;
  text-shadow: 2px 2px 2px FireBrick;
  font-family: times, serif;
  font-size:20px;
  font-weight: normal;
}

p {
  color:black;
  font-size:12px;
  font-weight:normal;
  font-align: left;
}

.white-div {
  background-color:white;
  width: 225px;
  height: 350px;
  padding:25px;
  margin:100px;
  border: 5px solid FireBrick;
  webkit-border-radius: 14px;
  border-radius: 14px;
  webkit-box-shadow: -5px 8px 14px 6px #000000; 
  box-shadow: -5px 8px 14px 6px #000000;
}
